version = 1
SPDX-PackageName = "{{ project_name }}"
SPDX-PackageSupplier = "{{ author_name }} <{{ author_email }}>"
SPDX-PackageDownloadLocation = "https://github.com/{{ github_username }}/{{ project_name }}"

[[annotations]]
path = [
    "docs/*.md",
]
SPDX-FileCopyrightText = "{{ project_name }} contributors"
SPDX-License-Identifier = "CC-BY-4.0"

[[annotations]]
path = [
    "uv.lock",
]
SPDX-FileCopyrightText = "{{ project_name }} contributors"
SPDX-License-Identifier = "CC0-1.0"
