Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: {{ project_name }}
Upstream-Contact: {{ author_name }} <{{ author_email }}>
Source: https://github.com/{{ github_username }}/{{ project_name }}

Files: *
Copyright: {% now 'utc', '%Y' %} {{ author_name }}
License: {{ license }}
