# API Reference

## CLI Module

::: {{ module_name }}.cli
    options:
      show_root_heading: true
      show_source: true

## Main Module

::: {{ module_name }}
    options:
      show_root_heading: true
      show_source: true
